body {
  font: 14px Arial;
}

h1 {
  font: 30px Arial;
  font-weight: bold;
}

label {
  width: 100px;
  text-align: right;
  display: inline-block;
}

.error {
  text-align: center;
  color: #d00;
  font-weight: bold;
}
